@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes chickenRun {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(110vw);
  }
}

@keyframes wipeReveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0% 0 0);
  }
}

.animate-chicken {
  height: 160px;
  animation: chickenRun 2.5s linear forwards;
}

.animate-wipe {
  animation: wipeReveal 3.5s ease-out forwards;
}


@keyframes wipeOut {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 100% 0 0);
  }
}

.animate-wipe-out {
  animation: wipeOut 1s ease-in-out forwards;
}
